<?xml version="1.0" ?>
<launch>
    <arg name="x_pos" default="0.0" />
    <arg name="y_pos" default="0.0" />
    <arg name="z_pos" default="0.0" />

    <!-- Starts Gazebo simulation (both server & client) -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">

        <arg name="paused"       value="false" />
        <arg name="use_sim_time" value="true"  />
        <arg name="gui"          value="true"  />
        <arg name="debug"        value="false" />
    </include>

    <param name="robot_description" command="$(find xacro)/xacro $(find ros_real_robot_v2_description)/urdf/ros_real_robot_v2.urdf.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ros_real_robot_v2 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

</launch>

