<?xml version="1.0" ?>
<launch>
    <arg name="set_lidar_frame_id" default="base_scan" />

    <!-- Runs rosserial node -->
    <include file="$(find ros_real_robot_v2_bringup)/launch/core.launch" />

    <!-- Runs IMU node -->
    <include file="$(find ros_real_robot_v2_bringup)/launch/imu.launch" />

    <!-- Runs rplidar node -->
    <include file="$(find ros_real_robot_v2_bringup)/launch/lidar.launch">
        <arg name="set_frame_id" value="$(arg set_lidar_frame_id)" />
    </include>

    <!-- Runs rpi_cameras nodes -->
    <include file="$(find ros_real_robot_v2_bringup)/launch/rpi_cameras.launch" />

</launch>

