<?xml version="1.0" ?>
<launch>
    <!-- Arguments -->
    <arg name="map_file" default="$(find ros_real_robot_v2_navigation)/maps/apartment_jakoba_mulderplein_164.yaml" />
    <arg name="move_forward_only" default="false" /><!-- NOTE it can move backwards as well -->
    <arg name="launch_model" default="true" />
    <arg name="rviz_config" default="$(find ros_real_robot_v2_navigation)/rviz/navigation.rviz" />

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL -->
    <include file="$(find ros_real_robot_v2_navigation)/launch/amcl.launch" />

    <!-- move_base -->
    <include file="$(find ros_real_robot_v2_navigation)/launch/move_base.launch">
        <arg name="move_forward_only" value="$(arg move_forward_only)" />
    </include>

    <!-- Model -->
    <group if="$(arg launch_model)">
        <include file="$(find ros_real_robot_v2_bringup)/launch/model.launch">
            <arg name="rviz_config" value="$(arg rviz_config)" />
        </include>
    </group>
</launch>

